body {
    padding-inline: 5rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

ul {
    font-size: 2rem;
    background-color: black;
    color: white;
    padding-block: 2rem;
    border-radius: 10px;
}

h3 {
    align-self: self-end;
    justify-self: self-end;
    font-size: 2.75rem;
}