* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    padding-inline: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1rem;
}

.store-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.store-products img {
    width: 100%;
    object-fit: contain;
}

.card-info {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.price-category {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5rem;
}

.price {
    background-color: #3F7CAC;
    padding: .5em;
    color: white;
    text-align: center;
    flex-grow: 1;
}

.price-category p {
    background-color: #3F7CAC;
    padding: .5em;
    color: white;
}

.product-info {
    z-index: 5;
    display: none;
    height: auto;
    width: 50vw;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translatex(-50%);
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
}

.close {
    align-self: flex-end;
    padding-inline: .5rem;
    padding-block: .25rem;
    color: white;
    background-color: red;
    cursor: pointer;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.product-info img {
    width: 100%;
    object-fit: contain;
    align-self: center;
}

.buy-now {
    display: flex;
    align-items: center;
    gap: .35em;
}

.buy-now a {
    text-decoration: none;
    color: white;
    background-color: #DB93B0;
    padding: 1em;
}

.buy {
    flex-grow: 1;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .store-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:767px) {
    .store-products {
        grid-template-columns: 1fr;
    }
}