p {
    width: 500px;
}

.class1 {
    font-size: 75px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(241, 5, 5);
    float: left;
    line-height: 0.85;
    margin: 0 .1em 0 0;
}

.class2 {
    font-size: 21px;
    font-weight: bold;
}